html, body{
	height: 100%;
}

.footer{
	/*height: 30px;*/
	padding: 10px 15px;
	border: none;
	position: absolute;
	bottom: 10px;
	width: 100%;

}

.input-container textarea{
	height: inherit;
	width: 100%;
	padding: 5px 10px;
}